!!! 5
html
  head
    title alboh blog
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:300,900')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.admin
    div#admin
      body!= body
  script(src='/javascripts/jquery-1.7.2.js')
  script(src='/javascripts/script.js')
