form.new_post#new_post(action='/post/update/' + post.id, method='post', name='login', accept-charset='UTF-8')
  div.contain
    div#text-title.active.expandingArea
      pre
        span
        br
      textarea(tabindex=1, name='title', placeholder='Title here')
        != post.title_markup
    fieldset.markdown.image
      div#text-content.expandingArea.active
        pre
          span
          br
        textarea(tabindex=2, name='password', name='markup', type='password', placeholder='Write post here')
          != post.content_markup
  div#publish-bar
    div.contain
      div.left
        a(href='/admin') « Admin
      div.right
        label(for='post_draft') Draft&nbsp;
        - if(post.post_id === null)
          input#post_draft(checked='checked', name='draft', value='1', type='checkbox')
        - else
          input#post_draft(name='draft', value='1', type='checkbox')
        input#save-button(tabindex=3, type='submit', value='Save')
